
#landing {
  text-align: center;
  margin-top: 80px;
}

#landing h1 {
  font-size: 72px;
  margin-bottom: 10px;
  line-height: normal;
}

#landing h2 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 10px;
  color: #bababa;
}

#landing h3 {
  !float: right;
}

.overview h1 {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #bababa;
  text-align: center;
  margin: 20px;
}
.overview h2 {
  color: #333;
  margin-bottom: 10px;
}
.overview p {
  color: #808080;
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
}
.overview_icon {
  height: 24px;
  margin-right: 10px;
}
.landing-btn {
  width: 152px;
}

.gray {
  color: #888;
}

#footer p {
  text-align: center;
}

#nav_logo {
  height: 20px;
  vertical-align: -3px;
}
.navbar .brand {
  color: #fff;
}

.header_logo {
  margin-left: 40px;
  margin-right: -40px;
}

.proposal h2 {
  color: #C22D2E;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}
.proposal h3 {
  font-weight: 400;
  font-size: 20px;
  color: #808080;
  text-decoration: underline;
  margin-bottom: 5px;
}
.proposal p, .proposal li {
  color: #808080;
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
}
.proposal .soften {
  margin: 20px 0px;
}

.profile_pic {
  -webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

.align-center {
  text-align: center;
}

.signature {
  margin-right: 100px;
}

.btn-jumbo {
  padding: 15px 50px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 40px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}